<div class="ui secondary pointing menu">
  <a class="ui item title">
    Backstitch RSS Reader
  </a>
  <div class="right menu">
    <a class="ui item">
      SignUp
    </a>
    <a class="ui item">
      SignIn
    </a>
  </div>
</div>