<div class="ui secondary pointing menu">
  <a href="/" class="ui item title">
    <strong>RSS Reader</strong>
  </a>
  <div class="right menu">
    <a href="/signin" class="ui item nav-signin hide">
      SignIn/SignUp
    </a>

    <a class="ui item nav-signout hide" onclick="signout()">
      SignOut
    </a>
  </div>
</div>