<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/semantic.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>RSS Reader</title>
</head>

<body>
  <div class="ui container">
    {{>nav}}
    {{{body}}}
  </div>
  <script type="text/javascript" src="/js/semantic.min.js"></script>
</body>

</html>