<div class="ui segment">
  <h3>Overview</h3>
  <p>X Numbers of Articles</p>
  <p>Y Articles with an Image</p>

  <p>Earliest Published Date: mm/dd/yyyy hh:mm</p>
  <p>Latest Published Date: mm/dd/yyyy hh:mm</p>
</div>

<div class="ui segment">
  <h3>Articles</h3>
  <div class="ui divided items">
    <div class="item">
      <div class="image image-container">
        <img src="https://picsum.photos/400" alt="Article image" class="article-image" />
      </div>

      <div class="content">
        <div class="extra">
          Published Date - mm/dd/yyyy hh:mm
        </div>
        <a class="header">Trump Ordered Aid to Ukraine Frozen Days Before Call With Its Leader</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, officia iste, esse eaque voluptatibus ipsa
            asperiores laboriosam consectetur unde beatae reiciendis. Esse ex enim sunt labore sit quae veritatis qui.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>