<div class="flex signin-container">
  <div class="ui very padded segment">
    <div class="ui two column very relaxed grid">

      <div class="column signin-box">
        <h2>SIGN IN</h2>
        <form class="ui form signin">
          <div class="ui left icon input field fluid">
            <i class="user icon"></i>
            <input type="email" name="email" placeholder="EMAIL" required="true">
          </div>
          <div class="ui left icon input field fluid">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="PASSWORD" required="true">
          </div>
          <div class="ui field">
            <button class="ui button nice fluid" type="submit">SIGN IN</button>
          </div>
        </form>
      </div>

      <div class="column signup-box">
        <h2>SIGN UP</h2>
        <form class="ui form signup">
          <div class="ui left icon input field fluid">
            <i class="user icon"></i>
            <input type="email" name="email" placeholder="EMAIL" required="true">
          </div>
          <div class="ui left icon input field fluid">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="PASSWORD" required="true">
          </div>
          <div class="ui left icon input field fluid">
            <i class="lock icon"></i>
            <input type="password" name="confirmPassword" placeholder="CONFIRM PASSWORD" required="true">
          </div>
          <div class="ui field">
            <button class="ui button orange fluid" type="submit">SIGN UP</button>
          </div>
        </form>
      </div>
    </div>

    <div class="ui vertical divider">
      OR
    </div>

  </div>
</div>