body {
  background-color: #dcdcdcbf;
}

.ui .title {
  font-size: 1.5em;
}
.ui.secondary.pointing.menu .item {
  align-self: unset;
}
.ui.items>.item .extra {
  margin: 0 0 .5rem 0;
}
.ui.items>.item>.image>img {
  border-radius: 5px;
}
.ui.items>.item .extra {
  color: rgba(0,0,0,0.6);
}
.ui.divider {
  margin: 0.5rem 0;
}
.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: unset;
}
.ui.inverted.dimmer {
  position: fixed;
}
.ui.button.nice {
  background-color: #386d81;
  color: white;
}
.ui.button.nice:hover {
  background-color: #00425a;
}



.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex.space-between {
  justify-content: space-between;
}


.article-image {
  cursor: pointer;
}
.block-with-text {
  overflow: hidden;
  max-height: 2.6em; 
}


.feeds-list {
  margin: 2em 1em 1em 1em;
}

.sort-order {
  margin-left: 1em;
}

.signin-container .segment {
  width: 100%;
  max-width: 800px;
  margin-top: 3em;
  padding: 2em;
}
.signin-container {
  margin-top: 5em;
}
.signin-box h2 {
  text-align: center;
  color: #00425a;
}
.signup-box h2 {
  text-align: center;
  color: #915e00;
}

.hide {
  display: none !important;
}

.no-page img {
  max-width: 100%;
  height: auto;
}
