.ui .title {
  font-size: 1.5em;
}
.ui.secondary.pointing.menu .item {
  align-self: unset;
}
.ui.items>.item .extra {
  margin: 0 0 .5rem 0;
}
.ui.items>.item>.image>img {
  border-radius: 5px;
}
.ui.items>.item .extra {
  color: rgba(0,0,0,0.6);
}
.ui.divider {
  margin: 0.5rem 0;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex.space-between {
  justify-content: space-between;
}


.article-image {
  cursor: pointer;
}
.block-with-text {
  overflow: hidden;
  max-height: 2.6em; 
}


.feeds-list {
  margin: 2em 1em 1em 1em;
}